.loading-container {
  top: 0;
  left: 0;
  bottom: 0;
  height: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 50%;
    height: 50%;
    color: rgb(121, 54, 70);
    font-size: 50px;
    text-align: center;
  }
}
